.root {
  li {
    display: inline-block;

    &.selected {
      background-color: #fe5f1e;
      color: #fff;
    }

    a {
      color: #fe5f1e;
      display: inline-block;
      text-align: center;
      width: 45px;
      line-height: 38px;
      height: 40px;
      border: 1px solid #fe5f1e;
      border-radius: 40px;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}
