.product {
  min-height: calc(100vh - 170px - 120px);
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .productImage {
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    position: relative;

    img {
      height: 465px;
    }
  }

  .productInformation {
    padding: 50px;
    height: 100%;

    h2 {
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
      margin-bottom: 30px;
      max-width: 275px;
    }

    .productDesc {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
      max-width: 400px;
      padding-bottom: 50px;
      padding-top: 50px;
      border-bottom: 1px solid #e0e0e0;
      border-top: 1px solid #e0e0e0;
    }
  }

  .cartAdd {
    max-width: 400px;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 30px;
      line-height: 44px;
      letter-spacing: -1px;
    }
  }
}
